<!-- GET server returns data -->
<!-- POST sends HTML form data to the server -->

<form action="/create" method="POST" >
    <input type="text" name="fullname" placeholder=""/>
    <input type="text" name="phone" placeholder=""/>
    <button>Submit</button>

</form>

<div>
    {% for i in libreta %}

    <div>
        <h1>{{i.fullname}}</h1>
        <h1>{{i.phone}}</h1>
        <div>
            <a href="/update">Editar</a>
            <a href="{{ url_for('contacts.delete', id=i.id ) }}">Eliminar</a>
        </div>
    </div>

    {% endfor %}
</div>